.element {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  position: relative;
  cursor: pointer;
  padding: 5px 0px 0px 5px;
  &:hover {
    transform: scale(2);
    z-index: 2;
    border: 1px solid black;
  }
  .element__id {
    font-size: 0.7em;
    position: absolute;
    right: 3px;
    top: 3px;
  }
  .element__sym {
    font-size: 1em;
    text-transform: uppercase;
  }
  .element__name {
    font-size: 0.7em;
    text-transform: capitalize;
  }
  .element__atomic-mass {
    font-size: 0.7em;
  }
}