@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  font-family: Open Sans;
  background-color: #000;
  font-size: 15px;
  line-height: 1em;
}
#root {
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}
.table__periodic {
  display: grid;
  margin-top: 40px;
  justify-content: center;
  grid-template-columns: repeat(18, 65px);
  grid-template-rows: repeat(10, 65px);
}